.container__menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.container__menu nav {

    width: 100%;
}

.menu__logo {
    position: relative;
    /* position: absolute;
    z-index: 1; */
    background-color: var(--whith);
    width: 100%;
    display: flex;
    padding: 30px 16px 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--gray-medium);
}

.menu__logo figure {
    width: 94px;
}

.menu__logo figure img {
    width: 100%;
}

.menu__logo button {
    width: 50px;
    border: 1px solid transparent;
    background-color: transparent;
}

.menu__logo button img {
    width: 100%;
    transition: 1s;
}

.menu__body {
    width: 100%;
    position: absolute;
    z-index: -1;

    transform: translateY(-150%);
}

.open {
    transform: translateY(0);
}

.animationOpen {

    animation: down 1.2s ease-in-out;
}

.animationClose {

    animation: up 1.2s ease-in-out;
}

.close {
    transform: translateY(-150%);
}


.body__sections {
    border-bottom: 2px solid var(--gray-medium);
}

@keyframes down {
    0% {
        transform: translateY(-150%);
    }

    90% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);

    }

}

@keyframes up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-150%);

    }

}



.body__sections li {
    padding: 20px 16px;
    color: var(--gray-dark);
}

#allSections {
    background-color: var(--gray-ligth);
    color: var(--black);
    font-weight: var(--weight);
}

.input__search {
    padding: 27px 16px;
    margin: 0 auto;
    position: relative;
}

.input__search input {
    width: 100%;
    height: 38px;
    background-color: var(--gray-ligth-2);
    border-radius: 8px;
    padding: 13px 11px 13px 32px;
    border: 1px solid transparent;
    background-image: url("./../img/lupa.png");
    background-repeat: no-repeat;
    background-position: 11px;
}

.input__search input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.profile__user {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 0 16px;
}


@media (min-width: 800px) {
    .container__menu {
        border-bottom: 1px solid;
    }

    .menu__logo {
        width: auto;
        border-bottom: none;
        padding: 20px 50px 20px 0;
    }

    .container__menu nav {
        width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .menu__body {
        width: 80vw;
        position: static;
        display: flex;
        justify-content: flex-end;

        transform: translateY(0);
    }

    .body__sections {
        display: flex;
        align-items: center;
        gap: 12px;
        position: static;
        left: 0;
        top: 40%;
        border-bottom: none;
    }

    .body__sections li {
        padding: 0;
        color: var(--gray-dark);
    }

    .input__search {
        width: auto;
        margin: 0;
        
    }

    .input__search input {
        width: 231px;
        cursor: pointer;
    }

    #menuOpen {
        display: none;
    }
}

@media (min-width:896px) {
    .body__sections {
        position: absolute;
        
    }
}